<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>te13123123st</h2>
<form action="test.do" method="post">
    나이 : <input type="text" name="age" id="age">
    직분 : <input type="text" name="workclass" id="workclass">
    학력 : <input type="text" name="education" id="education">
    oc : <input type="text" name="occupation" id="occupation">
    인종 : <input type="text" name="race" id="race">
    성별 : <input type="text" name="sex" id="sex">
    근무시간 : <input type="text" name="hoursperweek" id="hoursperweek">
    연봉 : <input type="text" name="income" id="income">

    <input type="submit" value="확인">
</form>
<h1><font color="red">{{msg}}</font></h1>
</body>
</html>